section.title {text-align: left; position: relative;}

section.section1 { background-color: #00FFFF; visibility: hidden; padding: 10px; overflow: scroll; position: absolute;
    top: 115px; width: 600px;}

section.section2
{background-color: #00FFFF; visibility: hidden; padding: 10px; overflow: scroll; position: absolute;
    top: 115px; width: 600px;}

div.fixed {
    position: absolute;
    top: 400px;
    width: 100%;
    bottom: 0;
    text-align: left;
}